@media  (min-width:376px){
body{
  background-color: hsl(0, 0%, 95%);
}
.q::after{
  content: '';
position: absolute;
top: 170px;
left: 498px;
background-color: hsl(31, 77%, 52%);
width: 309px;
height: 500px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
z-index: -100;
}
.w{
  position: absolute;
top: 218px;
left: 549px;
}
.e{
  font-family: "Big Shoulders Display";
  font-weight: 700;
  position: absolute;
  left: 549px;
  top: 268px;
  color:  hsla(0, 0%, 100%, 0.75);
  text-transform: uppercase;
  font-size: 40px;
}
.r{
  position: absolute;
    color: hsl(0deg 0% 95% / 66%);
    left: 549px;
    top: 354px;
    font-size: 15px;
    font-family: 'Lexend Deca';
    width: 192px;
    line-height: 24.5px;
}
.t{
  border-radius: 25px;
  color: hsl(31, 77%, 52%);
  border: none;
  position: absolute;
  left: 549px;
  top: 574px;
  height: 48px;
  width: 144px;
  font-family: 'Lexend Deca';
  font-size: 15px;
  letter-spacing: 0.3px;
  BACKGROUND-COLOR: white;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t:hover{
  color: white;
  background-color: #00424100;
  border: 2px solid white;
  cursor: pointer;
}
.y::after{
  content: '';
    position: absolute;
    top: 170px;
    left: 806px;
    width: 309px;
    height: 500px;
    background-color: hsl(184, 100%, 22%);
    z-index: -100;
}
.u{
  position: absolute;
  top: 218px;
  left: 857px;
}
.i{
  font-family: "Big Shoulders Display";
  font-weight: 700;
  position: absolute;
  left: 857px;
  top: 268px;
  color:  hsla(0, 0%, 100%, 0.75);
  text-transform: uppercase;
  font-size: 40px;
}
.o{
  position: absolute;
  color: hsl(0deg 0% 95% / 66%);
  left: 857px;
  top: 354px;
  font-size: 15px;
  font-family: 'Lexend Deca';
  width: 207px;
  line-height: 24.5px;
}
.p{
  border-radius: 25px;
  color: hsl(184, 100%, 22%);
  border: none;
  position: absolute;
  left: 857px;
  top: 574px;
  height: 48px;
  width: 144px;
  font-family: 'Lexend Deca';
  font-size: 15px;
  letter-spacing: 0.3px;
  BACKGROUND-COLOR: white;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p:hover{
  color: white;
  background-color: #00424100;
  border: 2px solid white;
  cursor: pointer;
}
.a::after{
  content: '';
    position: absolute;
    top: 170px;
    left: 1115px;
    width: 309px;
    height: 500px;
    background-color: hsl(179, 100%, 13%);
    z-index: -100;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.s{
  position: absolute;
  top: 218px;
  left: 1162px;
}
.d{
  font-family: "Big Shoulders Display";
  font-weight: 700;
  position: absolute;
  left: 1162px;
  top: 268px;
  color:  hsla(0, 0%, 100%, 0.75);
  text-transform: uppercase;
  font-size: 40px;
}
.f{
  position: absolute;
  color: hsl(0deg 0% 95% / 66%);
  left: 1162px;
  top: 354px;
  font-size: 15px;
  font-family: 'Lexend Deca';
      width: 209px;
  line-height: 24.5px;
}
.g{
    border-radius: 25px;
    border: none;
    position: absolute;
    left: 1162px;
    top: 574px;
    height: 48px;
    BACKGROUND-COLOR: white;
    color: hsl(179, 100%, 13%);
    width: 144px;
    font-family: 'Lexend Deca';
    font-size: 15px;
    letter-spacing: 0.3px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}
.g:hover{
  color: white;
  background-color: #00424100;
  border: 2px solid white;
  cursor: pointer;
}
.x{
  position: absolute;
left: -240.5px;
}
}
@media (max-width:375px) {
  body{
    background-color: hsla(0, 0%, 100%, 0.75);
  }
  .q::after{
    content: '';
      position: absolute;
      top: 68px;
      left: 24px;
      background-color: hsl(31, 77%, 52%);
      width: 326px;
      height: 442px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      z-index: -100;
}
.w{
  position: absolute;
    top: 116px;
    left: 73px;
}
.e{
  font-family: "Big Shoulders Display";
      font-weight: 700;
      position: absolute;
      left: 73px;
      top: 151px;
      color: hsla(0, 0%, 100%, 0.75);
      text-transform: uppercase;
      font-size: 40px;
}
.r{
  font-family: 'Lexend Deca';
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 252px;
  width: 247px;
  color: hsl(0deg 0% 100% / 51%);
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.7px;
}
.t{
  border-radius: 25px;
color: hsl(31, 77%, 52%);
border: none;
position: absolute;
left: 73px;
top: 414px;
height: 48px;
width: 146px;
font-family: 'Lexend Deca';
font-size: 15px;
letter-spacing: 0.3px;
BACKGROUND-COLOR: white;
z-index: 99;
display: flex;
align-items: center;
justify-content: center;
}
.y::after{
  content: '';
  position: absolute;
  top: 510px;
  left: 24px;
  background-color: hsl(184, 100%, 22%);
  width: 326px;
  height: 442px;
  z-index: -90;
}
.u{
  position: absolute;
    top: 558px;
    left: 73px;
}
.i{
  font-family: "Big Shoulders Display";
      font-weight: 700;
      position: absolute;
      left: 73px;
      top: 603px;
      color: hsla(0, 0%, 100%, 0.75);
      text-transform: uppercase;
      font-size: 40px;
}
.o{
  font-family: 'Lexend Deca';
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 694px;
  width: 247px;
  color: hsl(0deg 0% 100% / 51%);
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.7px;
}
.p{
  border-radius: 25px;
color: hsl(184, 100%, 22%);
border: none;
position: absolute;
left: 73px;
top: 856px;
height: 48px;
width: 146px;
font-family: 'Lexend Deca';
font-size: 15px;
letter-spacing: 0.3px;
BACKGROUND-COLOR: white;
z-index: 99;
display: flex;
align-items: center;
justify-content: center;
}
.a::after{
  content: '';
    position: absolute;
    top: 952px;
    left: 24px;
    background-color: hsl(179, 100%, 13%);
    width: 326px;
    height: 442px;
    z-index: -100;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.s{
  position: absolute;
    top: 1000px;
    left: 73px;
}
.d{
  font-family: "Big Shoulders Display";
      font-weight: 700;
      position: absolute;
      left: 73px;
      top: 1035px;
      color: hsla(0, 0%, 100%, 0.75);
      text-transform: uppercase;
      font-size: 40px;
}
.f{
  font-family: 'Lexend Deca';
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 1136px;
  width: 247px;
  color: hsl(0deg 0% 100% / 51%);
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.7px;
}
.g{
  border-radius: 25px;
color: hsl(179, 100%, 13%);
border: none;
position: absolute;
left: 73px;
top: 1298px;
height: 48px;
width: 146px;
font-family: 'Lexend Deca';
font-size: 15px;
letter-spacing: 0.3px;
BACKGROUND-COLOR: white;
z-index: 99;
display: flex;
align-items: center;
justify-content: center;
}
body{
  height: 1500px;
}
}
